---
layout: default
---

{% assign sorted_pages = site.pages | sort:"position"  %}
{% for my_page in sorted_pages %}
  {% if my_page.title %}
    <article class="post">
      {% include page_header.html title=my_page.title %}
      <div class="post-content">
        {% include page_content.html name=my_page.name %}
        {% assign pageinfo = my_page['More Info'] %}
        {% if my_page['More Info'] %}
          <section class="more-info">
          {% for info in my_page['More Info'] %}
            {% include page_moreinfo.html info=info %}
          {% endfor %}
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}
{% endfor %}