<header class="site-header">

  <div class="wrapper">

    {% include logo-binchpress.html %}

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg width="30" height="20" class="nav-icon"><rect id="topbar" width="100%" height="15%" style="position:absolute;"></rect><rect id="middlebar" y="40%" width="100%" height="15%" style="position:absolute;"></rect><rect id="bottombar" y="80%" width="100%" height="15%" style="position:absolute;"></rect></svg>
      </a>

      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"position" %}
        {% for my_page in sorted_pages %}
          {% if my_page.title and my_page['Visible on Homepage'] %}
          <a class="page-link" href="#{{ my_page.title | slugify }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
