
/**
 * Site header
 */
.site-header {

    // Fix the position of the navigation bar
    position: fixed;
    background-color: $text-color;
    color: $background-color;
    z-index: 500;

    // Position navigation bar along the left side of the screen
    left: 0;
    height: 100%;
    width: $menu-width + $spacing-unit;

    // Smooth transitions
    @include prefix(transition, 0.25s, webkit moz o);
    @include media-query($on-laptop) {
        width: $menu-width;
    }
    @include media-query(800px) {
        @include prefix(transition, none, webkit moz o);
    }
    // Position navigation bar along the top on mobile
    @include media-query($on-palm) {
        width: 100%;
        height: 2 * $spacing-unit;
    }
    @include media-query($on-palm - 10) {
        @include prefix(transition, 0.25s, webkit moz o);
    }
}

.site-title {
    svg {
        max-height: 2 * $spacing-unit;
        padding-top: $spacing-unit;
        path {
            fill: $background-color;
        }

        @include media-query($on-palm) {
            max-height: $spacing-unit;
            padding-top: $spacing-unit/2;
        }
    }
}

.site-nav {

    .menu-icon {
        display: none;
    }

    .page-link {
        font-size: $header-font-size - 9px;
        line-height: (9/5) * $spacing-unit;
        text-transform: uppercase;
        color: white;
        letter-spacing: 0.5px;
    }

    .trigger {
        padding-top: $spacing-unit;
        @include value-prefix(display, flex, webkit moz ms);
        @include prefix(flex-flow, column nowrap, webkit moz ms);
        @include prefix(justify-content, flex-start, webkit moz ms);
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 0;
        right: $spacing-unit / 2;
        text-align: right;
        width: calc(100% - #{$spacing-unit});

        .menu-icon {
            display: block;
            float: right;
            width: 30px;
            height: 20px;
            padding-top: 20px;
            text-align: center;

            // Set up menu icon animation
            svg {
                rect {
                    @include prefix(transition, 0.25s, webkit moz o);
                }
                #topbar, #bottombar{
                    @include prefix(transform-origin, left center, webkit moz ms o);
                }
                #middlebar{
                    @include prefix(transform-origin, center center, webkit moz ms o);
                }
                width: auto;
                height: 100%;
                fill: $background-color;
            }
        }

        // Invisible until clicked

        .trigger {
            clear: both;
            display: none;
            text-align: left;
        }
    }
}

.clicked {
    height: 100%;

    // Menu icon animation on clicked
    .menu-icon {
        #middlebar {
            @include prefix(transform, scaleX(0), webkit moz ms o);
        }
        #topbar {
            @include prefix(transform, translate(-8%,-8%) rotate(33.69deg), webkit moz ms o);
        }
        #bottombar {
            @include prefix(transform, translate(-8%,8%) rotate(-33.69deg), webkit moz ms o);
        }
    }

    .trigger {
        @include value-prefix(display, flex, webkit moz ms);
    }
}

/**
 * Site footer
 */
.site-footer {
    position: relative;
    padding: $spacing-unit 0;
    width: calc(100% - #{$menu-width});
    left: $menu-width;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .site-footer {
        width: 100%;
        left: 0;
    }
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    position: relative;
    padding: $spacing-unit 0;
    width: calc(100% - (#{$menu-width} + #{$spacing-unit}));
    left: $menu-width + $spacing-unit;
    @include prefix(transition, 0.25s, webkit moz o);

    @include media-query($on-laptop){
        width: calc(100% - #{$menu-width});
        left: $menu-width;
    }
    @include media-query(800px) {
        @include prefix(transition, none, webkit moz o);
    }
}

.page-heading {
    font-family: $header-font-family;
    font-size: $header-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

@include media-query($on-palm) {
    .page-content {
        padding-top: 3 * $spacing-unit;
        width: 100%;
        left: 0;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    font-family: $header-font-family;
}

.post-title {
    font-size: 2 * $header-font-size;
    line-height: 1;
    font-variation-settings: 'wdth'100;
    @include prefix(transition, font-variation-settings 0.5s, webkit moz o);

    @include media-query($on-laptop) {
        font-variation-settings: 'wdth'20;
    }
    @include media-query($on-palm) {
        text-align: center;
        font-variation-settings: 'wdth'0;
        margin-left: -#{$spacing-unit};
        margin-right: -#{$spacing-unit};
        font-size: 1.8 * $header-font-size;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
}
